.App {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

#quote-box {
  width: 600px;
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
  font-size: 1.6rem;
  font-weight: 600;
}

#text {
  text-align: center;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button,
a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 10px;
  width: fit-content;
  height: 50px;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
}